* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav-bar {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: 1s;
}
.logo {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  height: 100%;
}
.search-bar-container {
  width: 50%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 231, 231);
  border-radius: 0.5rem;
  border: 1px solid rgb(202, 196, 196);
}
.search-bar-container input {
  width: 95%;
  height: 90%;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: transparent;
  font-size: 1rem;
}
.search-bar-container .search-button {
  width: 5%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-container .search-button span {
  font-size: 1.3rem;
  color: black;
}
.dark-mode {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 1rem;
}
.dark-mode span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
}
.dark-background {
  background-color: black;
  color: white;
}
.dark-background .search-bar-container {
  color: rgb(15, 15, 15);
}
.item-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 90vh;
  overflow: scroll;
  transition: 1s;
  flex-wrap: wrap;
}
.item {
  width: 30%;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(168, 167, 167);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  margin: 0.5rem;
}
.item span {
  cursor: pointer;
  color: rgb(206, 197, 197);
  border: rgb(56, 53, 53);
}
.image-container {
  width: 35%;
  height: 100%;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.info-container {
  width: 60%;
  height: 100%;
}
.info-container .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}
.info-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25%;
}
.description-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  color: rgb(160, 156, 156);
}
.description-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
.episodes-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
  width: 50%;
  height: 20%;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  float: right;
  color: black;
  cursor: pointer;
}
.dark-background .episodes-button {
  color: black;
}
.episodes {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 70vh;
  overflow: scroll;
  margin-top: 10rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 1rem;
  overflow-x: hidden;
  background-color: white;
}
.episodes-div {
  position: absolute;
  background-color: white;
  width: 40vw;
  height: 70vh;
  padding: 1rem;
}
.episodes-header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid rgb(185, 184, 184);
}

.episodes-header img {
  height: 100%;
  width: 2rem;
  border-radius: 1rem;
}
.episodes-header .left {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.episodes-header .left span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.episodes-header .right {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.episodes-header .right .close {
  font-size: 1.5rem;
}
.episodes-header .right .ep-num {
  height: 100%;
  width: 80%;
  font-size: 1rem;
  background-color: yellow;
  border-radius: 0.5rem;
  color: black;
  padding: 0.2rem;
}
.dark-background {
  background-color: black;
  color: white;
  transition: 1s;
}
.episode-render {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.episode {
  width: 48%;
  height: 25%;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid rgb(240, 209, 209);
}
.episode .title h6 {
  width: 100%;
  display: flex;
  margin-left: 1rem;
}
.episode-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.episode-info .episode-season {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28%;
}
.episode-info .episode-season span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.episode-info .episode-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 48%;
}
.episode-info .episode-date span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(252, 246, 246);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(95, 93, 93, 0.3);
}
.item .info-container .ed {
  color: yellow;
}
.episodes .episodes-header .ed {
  color: yellow;
}
